<div class="row">
  <div class="col-sm-4">
    <div class="thumbnail">
        <img src="/imgs/rv.jpg" alt="Lights" style="width:100%">
        <div class="caption">
          <p>Big Rig Camping</p>
        </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
        <img src="/imgs/masters.jpg" alt="Nature" style="width:100%">
        <div class="caption">
          <p>Golf</p>
        </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
        <img src="/imgs/masters2.jpg" alt="Fjords" style="width:100%">
        <div class="caption">
          <p>Travel Friendly</p>
        </div>
    </div>
  </div>
</div>